/*!**********	Custom font	***********/
	@font-face {font-family: 'CentraleSansBook';src: url('../font/32332C_0_0.eot');src: url('../font/32332C_0_0.eot?#iefix') format('embedded-opentype'),url('../font/32332C_0_0.woff2') format('woff2'),url('../font/32332C_0_0.woff') format('woff'),url('../font/32332C_0_0.ttf') format('truetypadde'),url('../font/32332C_0_0.svg#wf') format('svg');}


	@font-face {font-family: 'CentraleSansBook-Italic';src: url('../font/32332C_1_0.eot');src: url('../font/32332C_1_0.eot?#iefix') format('embedded-opentype'),url('../font/32332C_1_0.woff2') format('woff2'),url('../font/32332C_1_0.woff') format('woff'),url('../font/32332C_1_0.ttf') format('truetype'),url('../font/32332C_1_0.svg#wf') format('svg');}


	@font-face {font-family: 'CentraleSansMedium';src: url('../font/32332C_2_0.eot');src: url('../font/32332C_2_0.eot?#iefix') format('embedded-opentype'),url('../font/32332C_2_0.woff2') format('woff2'),url('../font/32332C_2_0.woff') format('woff'),url('../font/32332C_2_0.ttf') format('truetype'),url('../font/32332C_2_0.svg#wf') format('svg');}


	@font-face {font-family: 'NexaHeavy';src: url('../font/32332C_3_0.eot');src: url('../font/32332C_3_0.eot?#iefix') format('embedded-opentype'),url('../font/32332C_3_0.woff2') format('woff2'),url('../font/32332C_3_0.woff') format('woff'),url('../font/32332C_3_0.ttf') format('truetype'),url('../font/32332C_3_0.svg#wf') format('svg');}

/*basic reset*/
* {margin: 0; padding: 0;}

#loader { width: 100%; height: 100%; position: absolute; z-index: 999; background: white; display: none;  }
#warning 	{ height: auto; background: #C42C30;
			color: white; text-align: center; padding: 2% 5%; display: none; }

.warningDesc { padding: 2em 0; }
body, html {
	font-family: CentraleSansBook, arial;
	font-size: 18px;
	height: 100%;
	overflow: auto;
}

body.settings {
	background: #edeceb;
}

body.dashboard {
	background: #edeceb;
}

h1, h2, h3, h4, h5, h6 {
	font-family: NexaHeavy, Arial;
	font-weight: normal;
}

h2 { text-align: center; padding-bottom: 1em; color: #337ab7; font-size: 22px;  }
.blauw { color: #337ab7; }
.center { text-align: center; }
.small { font-size: 13px;}
.onoffswitch {
    position: relative; width: 40px; margin-bottom: 0.5em; float: right;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #E3E3E3; border-radius: 30px;
	height: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 10px; padding: 0; line-height: 20px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #FFFFFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #FFFFFF; color: #EDECEB;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; height: 20px; margin: -5px;
    background: #EDECEB;
    position: absolute; top: 5px; bottom: 0;
    right: 22px;
    border: 1px solid #E3E3E3; border-radius: 30px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #337AB7;
}



.switch-field {
	overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 25.5%;
  background-color: #edeceb;
  color: #337ab7;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #337ab7;
  -webkit-box-shadow: none;
  color: white;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}


.legenda { width: 20px; height: 20px; float: left; margin-right: 6px; position: relative; top: 1px;}
#add_patent_form .legenda { top: 12px; left: 10px;}

.legenda.pct { background: #009292; }
.legenda.national { background: #C42C30; }


.drie_px_border {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.countryLabel {
	background: white;
	color: #0078b8;
	display: inline;
	padding: 0.5em;
	margin: 0.5em;
}
/* LAYOUT */
.container {
width: 100%;
/*max-width: 1600px;*/
margin: 0 auto;
}


.dashboard_item {
	background: white;
	margin: 0.5em;
	position: relative;
}

.dashboard_item#settings_changed {
	background: #f4da98;
	color: #d3a300;
}

.dashboard_item#settings_changed h2 {
	color: #d3a300;
}

.dashboard_item#settings_changed .recalculateButton {
	background: #d3a300;
  color: white;
  padding: 1em 2em;
  display: block;
  border-radius: 3px;
  margin-top: 1em;
	cursor: pointer;
}



.dashboard_item_inner {
	padding: 1em;
}

.loader { position: absolute; z-index: 99; top: 40%; left:45%;}

.fullWidth {
	width: 100%;
	clear: both;
}

.oneFourth {
	width: 25%;
	float: left;
}

.threeFourth {
	width: 75%;
	float: left;
	position: relative;
}

.twoThird {
	width: 66.666666666%;
	float: left;
}

.oneThird {
	width: 33.3333333%;
	float: left;
}

.twoFourth {
	width: 50%;
	float: left;
	position: relative;
}

.exportExp { color: #337ab7; }

.open_option { width: 100%; display: block; background: #337ab7 url("../img/arrow.png") no-repeat left; color: white; position: relative; }
.open_option h3 { padding: 8px 0 8px 60px;}
.open_option > img { position: absolute; left: 8px; top: 8px; width: 40px; }
.option_inside { background: white; color: #337ab7; width: 100%; }
.option_inside .inner { padding: 1em; }

/* FORMS */
.admin_form fieldset { border: none; padding: 2em; }
.taxes_overview { background: #e3f2f5; padding: 1em;  }
.taxes_overview input { background: white!important; }

.admin_form h2 { padding-top: 2em; display: block; text-align: center; clear: both; width: 100%;}
.admin_form label, .admin_form input { margin-bottom: 1em; }
.admin_form label {  width: 60%; float: left; font-size: 14px;  }
.admin_form input { border: none; padding: 0.5em; background:#edeceb; margin-left: 1em;  }

@media (max-width: 1650px) {
.admin_form label {  width: 40%; float: left; font-size: 14px;  }
.admin_form input { border: none; padding: 0.5em; background:#edeceb; margin-left: 1em;  }
}

@media (max-width: 1100px) {
	.admin_form label, .admin_form input { margin-bottom: 1em; }
	.admin_form label {  width: 100%; float: none; font-size: 14px; display: block;  }
	.admin_form input { width: 40%; border: none; padding: 0.5em; background:#edeceb; margin-right: 1%; display: inline; }
}

@media (max-width: 767px) {
	.admin_form label, .admin_form input { margin-bottom: 1em; }
	.admin_form label {  width: 100%; float: none; font-size: 14px; display: block;  }
	.admin_form input { width: 100%; border: none; padding: 0.5em; background:#edeceb; margin-right: 0; display: block;  }
}

#msform {
	width: 80%;
	margin: 50px 10%;
	text-align: center;
	position: relative;
}
#msform fieldset {
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	border: none;
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
}

.subscribe, .add_patent_outer { text-align: center; }

.active_patents { color: #337ab7; }

.add_portfolio { color: #337ab7; }
.patent_1 .title { display: inline-block; margin-left: 1em; position: relative; top: 0.5em;}

.add_one_patent {
    font-weight: normal;
    padding: 0.3em 1em;
    border-radius: 3px;
    text-align: center;
    display: block;
    color: white;
    border: none;
    margin: 0 auto 1.5em auto;
	background: #337ab7;
	display: inline-block;
	margin-top: 1em;
	cursor: pointer;
	text-decoration: none;}

.add_one_patent h2 {
	padding-bottom: 0;
	color: white;
	margin: 0;
}
.add_one_patent:enabled {
    background: #0078B8;
}
.add_one_patent:disabled {
    background: #E3F2F6;
}

#add_patent_form fieldset,
.patent_1 { margin-bottom: 1em;  width: 92%; display: block; border: 1px solid #edeceb; border-radius: 3px;  position: relative; padding: 2% 8% 4% 0;}

.patent_1.active,
#add_patent_form fieldset.active { background: #e3f2f6;  }

#add_patent_form fieldset input { width: 30px; text-align: center; border: 0; padding: 0,5em 0.5em 0.5em 0; margin-left: 0.5em; color: #337ab7; font-size: 18px; font-weight: bold; background: none; position: relative; top: 11px; float: left;  }
#add_patent_form fieldset label { margin-left: 1em; float: left; }

#add_patent_form fieldset .edit { clear: both; width: 100%; display: block; padding-top: 1em;  }
#add_patent_form fieldset .center { text-align: center; width: 100%; clear: both; display: block; color: #00AED8; padding: 1em 0 0 0; margin-bottom: 1em;}
.editFieldset, .removeFieldset { position: absolute; top: 25px; cursor: pointer;}
.removeFieldset { right: 15px;}
.editFieldset { right: 40px;}

#add_patent_form fieldset .year{ display: inline-block; border-left: 1px solid #337ab7; margin-left: 1em; padding-left: 1em; position: relative; top: 10px;}
#add_patent_form label { position: relative; top: 10px; }

#add_patent_form .buttons { width: 80%; margin: 0 auto; text-align: center;}
#add_patent_form .button, #add_patent_form .recalculateButton { display: inline-block; float: none; line-height: 0; text-decoration: none; border-radius: 3px; margin: 0 0.3em; cursor: pointer; border: none; }
#add_patent_form .recalculateButton:disabled { opacity: 0.5; }
#add_patent_form .recalculateButton:enabled { opacity: 1; }

 #add_patent_form .button, #add_patent_form .recalculateButton { background: #00AED8; color: white; }
#add_patent_form .button { padding: 1em; }
#add_patent_form .recalculateButton { padding: 1.4em; position: relative; top: -0.2em;}
/*buttons*/
#msform .action-button {
	width: 150px;
	font-size: 14px;
	background: #337ab7;
	color: white;
	border: 0 none;
	border-radius: 3px;
	cursor: pointer;
	padding: 20px 15px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px white;
}
/*headings*/
.fs-title {
	color: #337ab7;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	color: #337ab7;
	margin-bottom: 20px;
}

.hidden { display: none; }

p.expl { color: #337ab7; padding: 1em 0 3em 0;}


#costs_per_year button, #cumulative button {
	display: block;
	margin: 1em auto;
	text-align: center;
	background: #d3a300;
	border: none;
	padding: 1em;
	color: white;
	border-radius: 3px;
	opacity: 1;
	cursor: pointer;
	transform: scale(1);
	transition: all .3s;
}

#costs_per_year button:hover, #cumulative button:hover {
	transform: scale(1.2);
}


#mapdiv {
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
}

#info {
  max-width: 1100px;
  border: 1px solid #ddd;
  margin: 10px auto;
  padding: 5px 8px;
}

#chartdiv, #cum_chartdiv {
	width		: 100%;
	height		: 400px;
	font-size	: 11px;
	background: url("../img/loader.gif") center no-repeat;
}
#chartdiv svg, #cum_chartdiv svg {
	background: white;
}


#reset_tool { text-decoration: none; color: #C42C30; }
#logout_tool { text-decoration: none; color: #C42C30; margin-top: .7em; display: block;}

.amcharts-chart-div > a {
	color: red!important;
	display: none!important;
}

/*#cumulative { display: none; }*/


.entity_outer { display: none; }
.options { margin: 0; }
.options .inner { padding: 1em; }

.europeClickOpen { cursor: pointer; margin-bottom: 0.5em; }
#driehoek { width: 10px; height: 10px; display: inline;}

.noExport p { color: #337ab7;}
.noExport a { text-decoration: none; margin-top: 2em; cursor: pointer; font-size: inherit; font-weight: bold; }

.checkbox_outer { float: left; background: white url("../img/unchecked_blue.png") no-repeat 50% 70%;  min-height: 120px; cursor: pointer; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-bottom: 1em; padding: 1em 0 0 0; }
.checkbox_outer label { position: relative; top: 5px; color: #337ab7; }

.checkbox_outer.checked { background: #337ab7 url("../img/checked.png") no-repeat 50% 70%; }
.checkbox_outer.checked label { color: white; }

.checkbox_outer input { display: none;}

.two_third { width: 27%; margin: 0 3% 1em 3%; }
.two_fourth { width: 44%; margin: 0 3% 1em 3%; }

.checkbox_outer input { padding: 2em;  }
.clear { clear: both; }

.total_national, .total_national h2 { color: #C42C30; text-align: center; }
.total_pct h2, .total_pct { color: #009292; text-align: center;}

.total_national { border: 1px solid #C42C30; }
.total_pct { border: 1px solid #009292; }

.recalculate { background: #337ab7; color: white; }
.recalculate h2 { color: white; }
.recalculate a { color: #337ab7; background: white; padding: 1em; text-align: center; text-decoration: none; display: block; margin: 0 auto; border-radius: 3px; cursor: pointer; }


.export { color: #337ab7; padding: 0.5em 0.5em 0 0.5em; display: none; }
.export h2 { color: white; }
.export a { color: white; background: #337ab7; padding: 1em; text-align: center; text-decoration: none; display: block; margin: 0 auto; border-radius: 3px; cursor: pointer; }
.export a.done { color: white; background: #00aadb; text-align: center; text-decoration: none; display: block; margin: 0 auto; border-radius: 3px; cursor: pointer; }

/*TABLE*/
#countryList { text-align: center; }
table tr { border-bottom: 1px solid #edeceb; }
#countryList thead th { font-weight: bold; }
#countryList tr { margin-bottom: 1em; padding-bottom: 1em; width: 100%; display: inline-block; }
#countryList tr td { font-size: 16px; }
#countryList tr td, #countryList tr th { width: 20%; display: inline-block; float: left; }
#countryList tr td span { display: none;}

#countryList img { width: 30px; height: auto; }



/*LOGIN*/
.login_container { margin-top: 1em; }
.login_container input { padding: 0.3em; border: none; background: #eeedec; margin-bottom: 2em; width: 50%; }
.login_container input.submit { padding: 0.5em 1em; border-radius: 3px; background: #337ab7 ; color: white; width: auto;}

/*CONFIRM*/
.helperButton.absolute { position: absolute; right: 0.5em; top: 0.4em; cursor: pointer; }
.helperButton.relative { position: relative; left: 0; top: 0.25em; cursor: pointer; }

.helperButton img { width: 25px; height: 25px; }

.jconfirm  .container { width: 50%; margin: 0 auto; }
.jconfirm.jconfirm-pjfl_confirm .jconfirm-bg{
	background: white;
	opacity: 0.8;
}
.jconfirm.jconfirm-pjfl_confirm .jconfirm-box{
	background: white;
	padding: 2em;
	text-align: center;
	color: #337ab7;
	line-height: 28px;
}
.jconfirm.jconfirm-pjfl_confirm .jconfirm-box.loading{
	background: none;
}
.jconfirm.jconfirm-pjfl_confirm .jconfirm-box.loading:before{
	background: none;
}
.jconfirm.jconfirm-pjfl_confirm .jconfirm-box.loading:after{
	background: none;
}
.jconfirm.jconfirm-pjfl_confirm .jconfirm-box .jconfirm-closeIcon{
}
.jconfirm.jconfirm-pjfl_confirm .jconfirm-box .jconfirm-title{
	font-family: NexaHeavy, Arial!important;
	font-weight: normal;
}
.jconfirm.jconfirm-pjfl_confirm .jconfirm-box .jconfirm-content-pane{
}
.jconfirm.jconfirm-pjfl_confirm .jconfirm-box .jconfirm-content{

}
.jconfirm.jconfirm-pjfl_confirm .jconfirm-box .jconfirm-buttons{
}
.jconfirm.jconfirm-pjfl_confirm .jconfirm-box .jconfirm-buttons button{
	border: 1px solid #858080!important;
	background: none!important;
	color: #858080!important;
	-moz-border-radius: 3px; -webkit-border-radius: 3px;	border-radius: 3px;
}
.jconfirm.jconfirm-pjfl_confirm .jconfirm-box .jconfirm-buttons button.message_button_red{
	background-color: #c42c30!important;
	color: white!important;
	border: none!important;
}
.jconfirm.jconfirm-pjfl_confirm .jconfirm-box .jconfirm-buttons button.message_button_green{
	background-color: #337ab7!important;
	color: white!important;
	border: none!important;
}

/*slide menu*/
.slideMenuOuter{
    display: table;
    font-size:0!important;
    width:400px;
    /* background-color:grey; */
    position: relative;
text-align: center;
display: block;
margin: 0 auto;
padding-bottom: 15px;
}
.first,
.second{
  display: inline-block;
  text-decoration: none;
  /* background-color:yellow; */
  width:20%;
  /* float: left; */
  vertical-align: top;
  display: inline-block;
  color: #BBBBBB;
  font-size: 14px;
  /* line-height: 14px; */
  /* margin-right: 28px; */
  cursor: pointer;
  /* padding-right: 57px; */
  position: relative;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.tumbler{
    /* background-color:tomato; */
    width:15%;
    display: inline-block;
    font-size:14px;
    vertical-align: top;
    position: relative;
}
.tumbler:before{
    content: "";
    position: absolute;
    top: -1px;
    z-index: 1;
    /* right: 0; */
    left:0;
    display: block;
    width: 44px;
    height: 18px;
    /* background-color: #dbdbdb; */
    background-color: #337ab7;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.tumbler:after {
    content: "";
    position: absolute;
    top: 1px;
    z-index: 2;
    /* right: 28px; */
    left:2px;
    display: block;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
/* .tumbler.on:before {
    background-color: #57a835;
    color: #57a835;
} */
.on {
    color: #337ab7;
    font-weight:bold;
}
 .on.tumbler:after {
    left:28px;
    /* right:2px!important; */
}


@media (max-width: 1555px) {
	.switch-field label {
	  width: 100%;
	}
}


@media (max-width: 1000px) {
	#countryList .cat_row { display: none; }
	#countryList tr { margin-bottom: 1em; padding-bottom: 1em; width: 100%; display: inline-block; }
	#countryList tr td { width: 100%; display: block; margin-bottom: 1em; }
	#countryList tr td span { display: inline; font-weight: bold; }

}

@media (max-width: 1300px) {

/* 	.add_portfolio_outer { width: 93.33333333%;  display: block; clear: both;} */

}

@media (max-width: 950px) {

	.two_third, .oneThird, .twoThird, .oneFourth, .threeFourth, .two_fourth, .twoFourth {
		width: 100%;
		display: block;
	}

}
