RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://pauljanssenfuturelab.eu/tools/intellectual_property/online/pc/$1 [R,L]


RewriteBase /
RewriteCond %{HTTP_HOST} !^pauljanssenfuturelab.eu$ [NC]
RewriteRule ^(.*)$ https://pauljanssenfuturelab.eu/tools/intellectual_property/online/pc/$1 [L,R=301]


